# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# =====================
# Django
# =====================

# Environment variables
.env
.env.*
backend/.env

# Database
db.sqlite3
db.sqlite3-journal

# Logs
*.log

# Static and media
staticfiles/
media/

# =====================
# React
# =====================

node_modules/
frontend/node_modules/

dist/
frontend/dist/

# =====================
# IDE
# =====================

.vscode/
.idea/

# =====================
# OS Files
# =====================

.DS_Store
Thumbs.db

# =====================
# Temporary / Coverage
# =====================

*.tmp
*.swp
.coverage
htmlcov/